
/*---------------------------
       Google Fonts
---------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Poppins&display=swap');


/*---------------------------
	   CSS Variables
---------------------------*/
:root {
  --primary-bg: #000814;
  --secondary-bg: #2C333F;
  --primary-text-color: #F1F2FF;
  --secondary-text-color: #FFD60A;
  --third-text-color: #47A5C5;
  --fourth-text-color: #AFB2BF;
  --big-font: 1.3rem;
  --medium-font: 1.2rem;
  --normal-font: 0.9rem;
  --small-font: 1rem;
  --main-font: 'Inter', sans-serif;
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
  --third-font: 'Montserrat', sans-serif;
}

/* body {
  background-color: var(--primary-bg);
} */